.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

.DS_Store
Thumbs.db

data/
datasets/
cifar-10-batches-py/
*.zip
*.tar
*.tar.gz

*.pt
*.pth
*.ckpt
*.onnx

.idea/
.vscode/